# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# The following `prisma+postgres` URL is similar to the URL produced by running a local Prisma Postgres 
# server with the `prisma dev` CLI command, when not choosing any non-default ports or settings. The API key, unlike the 
# one found in a remote Prisma Postgres URL, does not contain any sensitive information.

PORT=8080
NODE_ENV=development

DATABASE_URL="mysql://root:@localhost:3306/fraud_detection_platform"

PYTHON_FRAUD_API_URL="http://localhost:5000"
INTERNAL_API_KEY="DASNDJFDSKJKDSFJIDSJALDKJALKSJDFLKJASDIOUWEURWIEURWIEURWIEURWIEURWIEURWIEURWIEURWIEURWIEURWIEURWIUEORWIEURWIEURWIEURWIEURWIEURWIEURWIEDJASNDKADHIKWHDKASDNOQWDJQWI"
PYTHON_FRAUD_TIMEOUT_MS="15000"

JWT_ACCESS_SECRET="DASJDLKSJALDWKLDAEIOWROIR203RJEWKJFEFMLEIUROI3JRMFEFDADMLKJOIRJI32DSFOIORIH4KJRFMLSDMDNFKSFNDSKJFNSDMAFNDSFNDSKJFSDFDFJFKNEN"
JWT_REFRESH_SECRET="DANKSDJOIQUE92JNERH47RT48IOIJWIHDEEYDBRKI439OIHNDEJSDFB4YUGHOWI3R2390ORIHEWRJJ02OIRHEKRHFEGFIWEUHFDJKFOWEIFJWEKFHWHEKJFHEWU"
JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"

APP_ORIGIN="http://localhost:3000"